<div class="col-md-4" style="padding: 10px">
  <md-card class="basic-card">
    <img md-card-image src="{{imageSrc}}">
    <md-card-header>
      <a routerLink="/home/:id" routerLinkActive="active">
        <md-card-title>{{title}}</md-card-title>
      </a>
      <!-- <md-card-subtitle>
        <md-chip-list *ngFor="let tag of tags">
          <md-chip>{{tag}}</md-chip>
        </md-chip-list>
      </md-card-subtitle> -->
    </md-card-header>
    <md-card-content>
      <span class="label label-default"  *ngFor="let tag of tags">
        {{tag}}
      </span>
      <p>{{description}}</p>
    </md-card-content>
  </md-card>
</div>
